.login {
    background-image: url('https://picsum.photos/id/1051/500/500');

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
}

.register {
    background-image: url('https://picsum.photos/id/124/500/500');

    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    background-size: cover;
    background-position: center;
}

main h2 {
    text-align: center;
}

/* Form properties modified from MDN "Styling web forms" & "Your first forms"
https://developer.mozilla.org/en-US/docs/Learn/Forms/Styling_web_forms */
form {
    background-image: linear-gradient(cornflowerblue, cadetblue);
    /* Center the form of the page */
    margin: auto;
    width: 50em;
    /* Form outline */
    padding: 1em;
    border: 2px solid grey;
    border-radius: 1em;
}

form ul {
    list-style-type: none;
    padding: 0; 
    margin: 0;
}

form li {
    margin-top: 0.5em;
}

main form label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 200px;
    text-align: left;
}

main form input {
    /* Unify text field font setting */
    font: 1em sans-serif;
    /* Uniform text field size */
    width: 200px;
    box-sizing: border-box;

    border: 1px solid grey;
}

.checkbox label {
    width: 180px;
}

.checkbox input {
    width: 20px;
}


.button {
    padding-left: 180px;
}

main form li button {
    font-size: 18px;
}
