.box2 {
    background-image: linear-gradient(cornflowerblue, cadetblue);
    padding: 50px 0;
}

.box2 h2 {
    text-align: center;
}

/* Form properties modified from MDN "Styling web forms" & "Your first forms"
https://developer.mozilla.org/en-US/docs/Learn/Forms/Styling_web_forms */
form {
    background-color: lightgrey;
    /* Center the form of the page */
    margin: 0 auto;
    width: 450px;
    /* Form outline */
    padding: 1em;
    border: 2px solid grey;
    border-radius: 1em;
}

form ul {
    list-style-type: none;
    padding: 0; 
    margin: 0;
}

form li {
    margin-top: 1em;
}

form label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 185px;
    text-align: right;
}

input {
    /* Unify text field font setting */
    font: 1em sans-serif;
    /* Uniform text field size */
    width: 150px;
    box-sizing: border-box;

    border: 1px solid grey;
}

.button {
    padding-left: 185px;
}

form li button {
    font-size: 16px;
}
