section {
    background-image: linear-gradient(cornflowerblue, cadetblue);
    padding: 50px 0;
}

form {
    background-color: lightgrey;
    /* Center the form of the page */
    margin: 0 auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 2px solid grey;
    border-radius: 1em;
}

form ul {
    list-style-type: none;
    padding: 0; 
    margin: 0;
}

form li {
    margin-top: 1em;
}

form label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 185px;
    text-align: right;
}

input {
    /* Unify text field font setting */
    font: 1em sans-serif;
    /* Uniform text field size */
    width: 150px;
    box-sizing: border-box;

    border: 1px solid #999;
}

.button {
    padding-left: 185px;
}

.greeting {
    padding-left: 110px;
}